{% extends ABPlatformBundle::layout.html.twig %}

{% block title %}
Ajouter un livre - {{ parent() }}
{% endblock %}

{% block body %}
<h1>Saisissez votre livre:</h1>
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(form) }}

<div class="form-group">
    {{ form_label(form.titre, "Titre du livre", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
    {{ form_errror(form.titre) }}
    <div class="col-md-6">
        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.auteur, "Auteur du livre", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
    {{ form_errror(form.auteur) }}
    <div class="col-md-6">
        {{ form_widget(form.auteur, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.prix, "Prix du livre", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
    {{ form_errror(form.prix) }}
    <div class="col-md-6">
        {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.quantite_dispo, "Quantité disponible", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
    {{ form_errror(form.quantite_dispo) }}
    <div class="col-md-6">
        {{ form_widget(form.quantite_dispo, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

{{ form_widget(form.save, {'attr' {'class': 'btn-btn-primary'}}) }}

{{ form_rest(form) }}
{{ form_end(form) }}