{% extends 'ABPlatformBundle::layout.html.twig' %}

{% block title %}
    Votre sélection - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Voici votre sélection:</h1>
        {{ book.titre|upper }}, {{ book.auteur }}<br/>
        Prix: {{ book.prix }}€<br/>
        Quantité disponible: {{ book.quantiteDispo }}<br/><br/>
    <a class="btn-danger btn-lg" href="{{ path('ab_platform_read') }}">Annuler ma sélection</a>
    <a class="btn-primary btn-lg" href="{{ path('ab_platform_panier',{'id':book.id,'titre':book.titre,'auteur':book.auteur, 'prix':book.prix, 'quantite':book.quantiteDispo}) }}">Se rendre au panier</a>
{% endblock %}