{% extends 'ABPlatformBundle::layout.html.twig' %}

{% block title %}
    Votre sélection - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Voici votre sélection:</h1>
        {{ book.titre|upper }}, {{ book.auteur }}<br/>
        Prix: {{ book.prix }}€<br/>
        Quantité disponible: {{ book.quantite }}<br/><br/>
    <p>Combien en voulez-vous ?</p>
    {{ form_start(form) }}
    {{ form_widget(form.quantite, {'attr':{'max': book.quantite,'min': 0} }) }} <br/><br/>
    {{ form_widget(form.menu, { 'label': 'Enregistrer pour plus tard et retourner à l\'accueil'}) }}
    {{ form_widget(form.panier, { 'label': 'Se rendre au panier'}) }}
    {{ form_end(form) }}

{% endblock %}