{% extends 'ABPlatformBundle::layout.html.twig' %}

{% block title %}
    Livres disponibles - {{ parent() }}
{% endblock %}

{% block body %}
    <ul>
    {% for book in listBook %}
        <li>
            {{ book.titre|upper }}, {{ book.auteur }}<br/>
            Prix: {{ book.prix }}€<br/>
            Quantité: {{ book.quantiteDispo }}
        </li>
        <a class="btn btn-primary btn-md" href="{{ path('ab_core_accueil') }}">Accueil</a>
        <a class="btn btn-warning btn-md" href="{{ path('ab_platform_update',{'id':book.id}) }}">Modifier le livre</a>
        <a class="btn btn-danger btn-md" href="{{ path('ab_platform_delete',{'id':book.id}) }}">Supprimer le livre</a>
        <a class="btn btn-primary btn-md" href="{{ path('ab_panier_ajout',{'id':book.id}) }}">Mettre dans le panier</a>

    {% endfor %}
        </ul>
<p>
    {% if app.session.flashBag.has('notice') %}
    {% for msg in app.session.flashBag.get('notice') %}
    <p class="alert alert-info">message flash: {{ msg }} </p>
        {% endfor %}
        {% endif %}
</p>
{% endblock %}